#card1{

    margin-left: 50px;
    height: 400px;
    width: 300px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-size: 20px;
    color: rgb(25, 25, 26);
    
}
#card2{

}
#card1{
    background-color: aqua;
    box-shadow: 2px 3px 5px 10px cadetblue;
    
   
     
}
#card1:hover{
    transform: scale(1.2);
    transition: 0.3s;
    transform: rotate3d(180deg);
}
.img{
    filter: brightness(60%);
}
#img1{
    filter: brightness(60%);
}
#h1{
    color: rgb(26, 197, 188);
    font-size: 40px;
    padding-bottom: 100px;
    text-shadow:6px 1px 8px rgb(199, 23, 23) ;
}
#par1{
    font-size: 30px;
    color: aliceblue;
    text-align: center; 
    padding-bottom: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-display: fallback;
    font-style: italic;
}
#par{
    color: aliceblue;
    font-size:40px ;
}
#a1{
    font-size: 30px;
}
#bold1{
    font-size: 40px;
    color: chartreuse;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.row{ padding-top: 50px;
    padding-bottom: 50px;

}
#card2{
    font-size: 20px;
    margin-left: 40px;
}
#card3{
    background-color: rgb(186, 193, 189);
    border-radius: 20px;
    text-align: center;
    height: 250px;
    box-shadow: 5px 5px 3px 11px  rgb(129, 201, 151);
}
#card4{
    background-color: rgb(191, 195, 193);
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    height: 250px;
    box-shadow: 5px 5px 3px 11px  rgb(129, 201, 151);
}
#card5{
    background-color: rgb(184, 188, 186);
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    height: 250px;
    box-shadow: 5px 5px 3px 11px  rgb(129, 201, 151);
}
#div1{
    background-color: aquamarine;
    height: 500px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    text-shadow: 10px 10px 12px darkblue;
    box-shadow: 10px 2px 5px 5px;
}
#div2{
    font-size: 20px;
}
#h2{
    color: rgb(26, 197, 188);
    font-size: 80px;
    text-align: center;
    text-shadow: 5px 6px 10px rgb(129, 189, 24);
}
#b3{
    text-decoration: none; color: aliceblue;
}
#vid1{
    background-color: aquamarine;
    filter: brightness(60%);
}
.video-container {
    /* Set up the parent container as a positioning context */
    position: relative;
    /* Optional: Set a specific width for the container */
    width: 600px; 
}

.video-container video {
    /* Ensure the video takes up 100% of the container width */
    width: 100%;
    /* Ensure the video doesn't have extra space beneath it */
    display: block; 
}

.video-overlay-text {
    /* Position the text absolutely within the relative container */
    position: absolute;
    /* Place the text in the center (adjust top/left as needed) */
    top: 50%;
    left: 50%;
    /* Use transform to truly center the element */
    transform: translate(-50%, -50%);
    /* Optional: Styling for readability */
    color: white;

    text-align: center;
}
#vid2{
    width: 1000px;
    margin-left: 00px;
}
#par2{
    font-size: 40px;
    color: rgb(24, 211, 149);
    text-align: center;
}
#body10{
    background-image: url(images/bg3.webp);
    color: rgb(4, 12, 18);
}
.carousel-item{
    transition-duration: 4s;
}
#h10{
    text-align: center;

    font-size: 80px;
    color: aqua;
    text-shadow: 6px 3px 8px fuchsia;
}
#h4{
    color: rgb(240, 235, 246);
    font-size: 30px;
    text-decoration: underline;
    text-shadow:3px 5px 2px rgb(218, 38, 38), 4px 3px 25px blue, 2px 3px 5px darkblue ;
    
}
#pat{
    color: rgb(141, 144, 149);
    font-display: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 10px;
}
#h20{
    font-size: 30px;
    color: rgb(71, 114, 40); 
    text-shadow: 2px 4px 5px coral ;
}
#h30{
    font-size: 40px;
    color: indigo;
    font-style: italic;
    text-decoration: underline;
}
#d24:hover{
    background-color: aquamarine;
    color: blueviolet;
}

#img1{
    
    clip-path: circle(50%);
}
img:hover{
    transform: scale(1.2);
}